<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Aulasis</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/resources/default.css"/>
    <script type="text/javascript" src="/resources/utils.js"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div id="wrapper">
      <header>
	<ul>
	  <li><a href="/courses">Cursos</a></li>
	</ul>
      </header>
      <main>
	<h1>Cursos</h1>
      {{range $i,$c := .Courses}}
      {{if $c}}
	<div class="course">
	  <h2><a href="/courses/{{$c.Id}}.html">{{$c.Name}}</h2></a>
	  <p>{{$c.Desc}}</p>
	</div>
     {{end}}
     {{end}}
      </main>
      <footer>
	<small>Pie de página</small>
      </footer>
    </div>
  </body>
</html>

