<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Aulasis</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/resources/default.css"/>
    <script type="text/javascript" src="/resources/utils.js"></script>
    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div id="wrapper">
      <header>
	<ul>
	  <li><a href="/courses">Cursos</a></li>
	  <li><a href="/courses/{{ .Course.Id }}.html">{{ .Course.Name }}</a></li>
	</ul>
      </header>
      <main>
	{{ if .CheckStatus "hide" }}
	    <p>This task is temporaly disabled</p>
	{{ else }}
	  {{ .Content }}
	    <hr>
	  {{ if .CheckStatus "open" }}
	    <p>Selecciona los ficheros que quieras para enviar tu tarea. Recuerda que solo puedes seleccionar
	      ficheros de un mismo directorio. No envies ningún fichero comprimido.</p>
	    <form action="/submit/{{ .Course.Id }}/{{ .Id }}.html" method="POST" enctype="multipart/form-data"/>
	    <label>Nombre:</label><input type="text" id="name">
	    <label>Apellidos:</label><input type="text" id="surname" />
	    <br>
	    <input type="file" id="files" name="files" multiple/>
	    <br>
	    <input type="submit" value="enviar" />
	    </form>
	  {{end}}
	{{ end }}
      </main>
      <footer>
	<small>Pie de página</small>
      </footer>
    </div>
  </body>
</html>
