*{
    font-family:Helvetica;
}

body{
    margin:0;
}


/*
  Cabecera
  */

header{
    background-color:white;
    width:100%;
    min-height:80px;
    line-height:45px;
    margin:0 auto;
    font-size:120%;
}

header li{
    float:left;
    margin-left:20px;
    font-size:small;
}

header ul{
    list-style-type:none;
}

header ul a:active, a:link{
    text-decoration:none;
}





#clock{
    float:right;
    vertical-align: middle;
    height:100%;
    margin:10px;
}


html,
body {
    margin:0;
    padding:0;
    height:100%;
}


#wrapper{
    position:relative;
    min-height:100%;
}

/*
  Contenido
  */

main{
    color:#00008B;
    width:70%;
    margin:0 auto;

    padding-bottom:100px;
}

main table{
    width:100%;
    border:1px solid #00008B;
}

main h1{
    width:100%;
    border-bottom:4px double #00008B;
}

main img{
    width:75%;
    margin:auto;

    padding:3px;
    border:2px solid #00008B;
}



/*
  Pie de página
  */

footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;


    line-height:40px;
    background-color: 	#20B2AA;
    border-top:1px solid silver;
    text-align:center;
}